<%= simple_form_for @libro, :html => { :miltipart => true } do |f| %>
    <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Categorias") %>
    <%= f.file_field :libro_img %>
    <%= f.input :titulo, label: "Titulo del Libro" %>
    <%= f.input :descripcion %>
    <%= f.input :autor %>
    <%= f.button :submit %>
<% end %>