<h1>Editar Libro</h1>

<%= simple_form_for @libro, :html => { :miltipart => true } do |f| %>
    <%= f.select :category_id, @categories %>
    <%= f.file_field :libro_img %>
    <%= f.input :titulo, label: "Titulo del Libro" %>
    <%= f.input :descripcion %>
    <%= f.input :autor %>
    <%= f.button :submit %>
<% end %>