<h1 class="current-category"><%= params[:category] %></h1>

<% if @libros.count == 0 %>

    <h1>No hay Libros en esta Categoria</h1>
<% else %>

    <div class="row">

        <% @libros.each do |libro| %>
        
            <div class="col-md-3">
                <a href="/libros/ <%= libro.id %>">
                    <%= image_tag libro.libro_img.url(:libro_index), class: "libro" %>
                </a>
            </div>
        <% end %>

    </div>
    
<% end %>

