<div class="row">

	<div class="col-md-4">

		<%= image_tag @libro.libro_img.url(:libro_show), class: "libro-show" %>

	</div>

	<div class="col-md-8">

		<div class="libro-info">

			<h2 class="libro-title"><%= @libro.titulo %></h2>
			<h3 class="libro-autor"><span>Por: </span> <%= @libro.autor %></h3>
			<h2 class="avg-clasificacion">Promedio de Clasificacion</h2>
			<div class="average-review-clasificacion" data-score=<%= @average_review %>></div>
			<span class="number-of-reviews">Basado en <%= @libro.reviews.count %> reviews</span>
			<p class="libro-desc"><%= @libro.descripcion %></p>

		</div>
	</div>


</div>

<div class="row">

	<div class="col-md-4">

		<div class="reviews">

			<!-- Where the reviews/ratings will go -->
			<h1>Calificaciones</h1>
			<%= render @libro.reviews %>

			<div>
				<%= link_to "Agregar Calificacion", new_libro_review_path(@libro), class: "btn-custom" %>
			</div>

		</div>	

	</div>

</div>

<div class="links btn-group">

	<%= link_to "Atras", root_path, class: "btn btn-custom" %>

	<% if user_signed_in? %>

		<% if @libro.user_id == current_user.id %>

			<%= link_to "Editar", edit_libro_path(@libro), class: "btn btn-custom" %>
			<%= link_to "Eliminar", libro_path(@libro), method: :delete, data: { confirm: "Estas Seguro?" }, class: "btn btn-custom" %>

		<% end %>

	<% end %>	

</div>	


<script>
	$('.review-clasificacion').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>


<script>
	$('.average-review-clasificacion').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>