<%= simple_form_for([@libro, @libro.reviews.build]) do |f| %>
	<div id="clasificacion-form">
		<label>Clasificacion</label>
	</div>
	<%= f.input :comentario %>
	<%= f.button :submit, :class => "btn-custom2" %>
<% end %>

<script>
	$('#clasificacion-form').raty({
		path: '/assets/',
		scoreName: 'review[clasificacion]'
	});
</script>