<div class="review">

	<div class="review-clasificacion" data-score="<%= review.clasificacion %>"></div>
	<p class="review-comentario"><%= review.comentario %></p>


	<% if user_signed_in? %>

		<% if review.user_id == current_user.id %>

			<div class="links btn-group">

				<%= link_to "Editar", edit_libro_review_path(review.libro, review), class: "btn btn-custom" %>
				<%= link_to "Eliminar", libro_review_path(review.libro, review), method: :delete, data: { confirm: "Estas seguro ?" }, class: "btn btn-custom" %>

			</div>
		
		<% end %>	

	<% end %>

</div>		