<div class="col-md-6 col-md-offset-3">

	<div class="edit-review-form">

		<h1>Editar</h1>

		<%= simple_form_for([@libro, @review]) do |f| %>
			<div id="clasificacion-form">
				<label>Clasificacion</label>
			</div>
			<%= f.input :comentario %>
			<%= f.button :submit, :class => "btn-custom2" %>
		<% end %>	

	</div>

</div>

<script>
	$('#clasificacion-form').raty({
		path: '/assets/',
		scoreName: 'review[clasificacion]'
	});
</script>
